
@{
    ViewData["Title"] = "TimeCalculatorResult";
    var hours = ViewBag.hours;
    var minutes = ViewBag.minutes;
    var seconds = ViewBag.seconds;
    var total = ViewBag.TotalInSeconds;
}

<h1>TimeCalculatorResult</h1>
<p>Hours: @hours</p>
<p>Minutes: @minutes</p>
<p>Seconds: @seconds</p>
<p>Total in Seconds: @total</p>

