@using Opgave8x2.Models
@{
    ViewData["Title"] = "VisAlle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alle personer</h1>
<ul>
    @foreach (Person person in Model)
    {
        <li>Navn: @person.Name, Alder: @person.Age</li>
        <li>@Html.PartialAsync("_PersonPartial", person)</li>
    }
</ul>

